@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}

body {
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);

}


/* Header */

/* .masthead {
    background-size: cover;
    min-height: 60vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0, 0,.2);
} */

h1,h2,h3,h4,h5,h6 {
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
}

section {
    padding-top: 160px;
    padding-bottom: 160px;
}



/* Hero Section */

#hero {
    background: linear-gradient(#1B1F34, rgba(27, 31, 52, 0.0)), url(../gilroy-essential/public/cover_1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/* .hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
} */


/* Services Section */
/* 
#services {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

#services h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#services ul {
    list-style: none;
    padding: 0;
}

#services ul li {
    font-size: 1.2em;
    margin: 10px 0;
} */


/* Our Work */
/* 
#gallery {
    padding: 50px 20px;
    text-align: center;
}

#gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
} */

/* Location and Contact */

/* #locations {
    padding: 50px 20px;
    text-align: center;
}

#locations h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.location {
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
} */


/* transparent top  */

/* .navbar {
    transition: background-color 0.5s ease;
}
.navbar.scrolled {
    background-color: #333 !important;
} */